@font-face {
  font-family: "HomeVideo";
  src:
    local("HomeVideo-BLG6G"),
    url("./assets/fonts/HomeVideo-BLG6G.ttf") format("truetype");
}

@font-face {
  font-family: "HomeVideo";
  src:
    local("HomeVideoBold-R90Dv"),
    url("./assets/fonts/HomeVideoBold-R90Dv.ttf") format("truetype");
  font-weight: bold;
}
