@import "tailwindcss";
@import "fonts.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --color-primary: #83c0c1; */
  /* --color-secondary: #6962ad; */
  /* --color-neutral: #fff; */
  /* --color-surface: #161a30; */

  --color-*: initial;
  --color-primary: hsl(276.14, 90.48%, 60%);
  --color-secondary: hsl(276.14, 90.48%, 70%);
  --color-neutral: hsl(0, 0%, 2%);
  --color-surface: hsl(276.14, 90.48%, 97%);

  --grid-template-rows-layout: 1fr auto;

  --font-heading: "HomeVideo";

  --default-font-family: var(--font-heading);
}
