@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --color-primary: #83c0c1; */
  /* --color-secondary: #6962ad; */
  /* --color-neutral: #fff; */
  /* --color-surface: #161a30; */

  --color-*: initial;
  --color-primary: hsl(276.14, 90.48%, 65%);
  --color-secondary: hsl(276.14, 90.48%, 80%);
  --color-neutral: rgb(25, 22, 25);
  --color-surface: rgb(236, 236, 237);

  --grid-template-rows-layout: 1fr auto;
}
