@import "tailwindcss";
@import "fonts.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --color-primary: #83c0c1; */
  /* --color-secondary: #6962ad; */
  /* --color-neutral: #fff; */
  /* --color-surface: #161a30; */

  --color-*: initial;
  --color-primary: hsl(276.14, 90.48%, 60%);
  --color-secondary: hsl(276.14, 90.48%, 70%);

  --color-surface: hsl(276.14, 90.48%, 97%);
  --color-neutral: hsl(0, 0%, 2%);
  /* --color-neutral: var(--color-surface); */

  --grid-template-rows-layout: 1fr auto;

  --font-heading: "HomeVideo";

  --default-font-family: var(--font-heading);
}

.shaped {
  --border-size: 15px;
  clip-path: polygon(
    0% var(--border-size),
    var(--border-size) 0%,
    calc(100% - var(--border-size)) 0%,
    100% var(--border-size),
    100% calc(100% - var(--border-size)),
    calc(100% - var(--border-size)) 100%,
    var(--border-size) 100%,
    0% calc(100% - var(--border-size)),
    0% var(--border-size)
  );
}

.shaped-1 {
  clip-path: polygon(
    0% 10%,
    1% 0%,
    5% 0%,
    6% 8%,
    94% 8%,
    95% 0%,
    99% 0%,
    100% 10%,
    100% calc(100% - 5px),
    calc(100% - 5px) 100%,
    5px 100%,
    0% calc(100% - 5px),
    0% 5px
  );
}
